@model IEnumerable<Safespot.Service.DTO.ParkingZoneDto.ParkingZoneForResultDto>

@{
    Layout = "_Layout";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FreeSlot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EconomSlot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessSlot)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>f
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FreeSlot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EconomSlot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessSlot)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
